[Unit]
Description=Kea DHCPv4 Server
After=network.target netif@lan.service lan-inet.service lan-inet_vpn0.service lan-void.service

[Container]
ContainerName=kea
Image=localhost/kea:latest
AutoUpdate=local
Volume=/usr/local/share/kea/kea-dhcp4.conf:/etc/kea/kea-dhcp4.conf:ro,idmap,z
Exec=/usr/sbin/kea-dhcp4 -c /etc/kea/kea-dhcp4.conf
Volume=kea_data:/var/lib/kea:idmap,z
Network=host
AddCapability=NET_RAW

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
