[Unit]
Description=Berkeley Internet Name Domain (DNS)
After=network.target brvirt.service scapydns.service
BindsTo=brvirt.service

[Container]
ContainerName=named
Image=docker.io/internetsystemsconsortium/bind9:9.21
AutoUpdate=registry
Network=brvirt:host_interface_name=veth_named,mac=b6:18:a5:e5:96:6f,ip=192.168.40.11
Volume=/usr/local/share/named:/etc/bind:ro,idmap,z
Volume=named-rpz:/run/media/rpz:ro,idmap,z
UserNS=auto
Entrypoint=/etc/bind/run

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
