[Unit]
Description=vnstat
After=network.target

[Container]
ContainerName=vnstat
Image=localhost/routerservices:latest
Label=io.containers.autoupdate=local
Network=host
Volume=vnstat:/var/lib/vnstat:idmap
Exec=vnstatd --nodaemon
UserNS=auto

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
